<link
  rel="import"
  href="/bower_components/polymer/polymer.html">
<link
  rel="import"
  href="/bower_components/paper-card/paper-card.html">
<link
    rel="import"
    href="/behaviors/splendor-base-behavior.html">
<link 
    rel="import"
    href="/components/shared-styles/shared-styles.html">

<dom-module id="splendor-noble">
  <template>

    <style include="shared-styles"></style>
    <style>
      paper-card {
        margin: 6px;
        width: 180px;
      }
      .points {
        margin-right: 10px;
      }
      .card-badge {
        width: 10px;
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px;
        margin: 0 5px 0 5px;
        text-align: center;
      }
      .card-content {
        display: flex;
        flex-direction: row;
      }
    </style>

    <paper-card class="noble">
      <div class="card-content">
        <span class="points">[[noble.points]]</span>
        <span
            hidden$="[[!noble.diamond]]"
            class="card-badge diamond">[[noble.diamond]]</span>
        <span
            hidden$="[[!noble.sapphire]]"
            class="card-badge sapphire">[[noble.sapphire]]</span>
        <span
            hidden$="[[!noble.emerald]]"
            class="card-badge emerald">[[noble.emerald]]</span>
        <span
            hidden$="[[!noble.ruby]]"
            class="card-badge ruby">[[noble.ruby]]</span>
        <span
            hidden$="[[!noble.onyx]]"
            class="card-badge onyx">[[noble.onyx]]</span>
      </div>
    </paper-card>

  </template>

  <script>
    Polymer({
      is: 'splendor-noble',
      behaviors: [SplendorBaseBehavior],
      properties: {
        noble: Object
      }
    });
  </script>

</dom-module>