<link
    rel="import"
    href="/bower_components/polymer/polymer.html">
<link
	  rel="import"
	  href="/bower_components/paper-card/paper-card.html">
<link
    rel="import"
    href="/bower_components/paper-ripple/paper-ripple.html">
<link
    rel="import"
    href="/bower_components/paper-styles/color.html">
<link
    rel="import"
    href="/behaviors/splendor-base-behavior.html">
<link
    rel="import"
    href="/behaviors/splendor-selectable-behavior.html">
<link 
		rel="import"
		href="/components/shared-styles/shared-styles.html">

<dom-module id="splendor-card">
  <template>

    <style include="shared-styles"></style>
    <style>
      paper-card {
        margin: 6px;
        width: 220px;
      }
      .gem {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        line-height: 30px;
        padding: 0;
        margin: 5px 2px 5px 2px;
        border: 1px solid black;
        text-align: center;
      }
      .points {
        line-height: 40px;
        width: 9px;
        margin: 0 4px 0 4px;
      }
      .card-content {
        display: flex;
        flex-direction: row;
        padding: 0;
      }
      .affordable::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset 0px 0px 0px 2px var(--paper-green-200);
      }
      .bonus {
        border-right: 2px solid var(--paper-grey-300);
        display: flex;
        flex-direction: row;
        line-height: 40px;
        padding: 0 5px 0 5px;
      }
      .cost {
        display: flex;
        flex-direction: row;
        margin-left: 5px;
      }
    </style>

    <paper-card
        class$="[[classes(selected, 'selected', affordable, 'affordable')]]"
        elevation="[[elevation(selected)]]"
        on-tap="_toggleSelected">
      <div class="card-content">
        <paper-ripple
          hidden$="[[!_canSelect(selectable, reservable, affordable)]]">
        </paper-ripple>
        <div class="bonus">
          <span
              class="points"
              hidden$="[[!card.points]]">[[card.points]]</span>
          <span
              class="points"
              hidden="[[card.points]]"></span>
          <span
              class$="[[classes('gem', card.gem)]]"></span>
        </div>
        <div class="cost">
          <span
              hidden$="[[!card.diamond]]"
              class="gem sm diamond">[[card.diamond]]</span>
          <span
              hidden$="[[!card.sapphire]]"
              class="gem sm sapphire">[[card.sapphire]]</span>
          <span
              hidden$="[[!card.emerald]]"
              class="gem sm emerald">[[card.emerald]]</span>
          <span
              hidden$="[[!card.ruby]]"
              class="gem sm ruby">[[card.ruby]]</span>
          <span
              hidden$="[[!card.onyx]]"
              class="gem sm onyx">[[card.onyx]]</span>
        </div>
      </div>
    </paper-card>

  </template>

  <script>
    Polymer({
      is: 'splendor-card',
      behaviors: [SplendorBaseBehavior, SplendorSelectableBehavior],
      properties: {
        card: Object,
        affordable: {
          type: Boolean,
          value: false
        },
        reservable: {
          type: Boolean,
          value: false
        }
      },
      ready: function() {
        Splendor.recv(function(event) {
          if (Splendor.game.player.payment(this.card) != null) {
            this.set('affordable', true);
          } else {
            this.set('affordable', false);
          }
          if (event && event.type == 'reserveMode') {
            this.set('reservable', event.data);
          }
        }.bind(this));
      },
      _toggleSelected: function() {
        if (this._canSelect(this.selectable,
                            this.reservable,
                            this.affordable)) {
          this.toggleSelected();
        }
      },
      _canSelect: function(selectable, reservable, affordable) {
        return selectable && (reservable || affordable);
      }
    });
  </script>

</dom-module>