<dom-module id="shared-styles">
  <template>

    <style>
      paper-material, paper-card {
        
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        --shadow-elevation-16dp: {
          box-shadow: 0 16px 24px 2px rgba(13, 71, 161, 0.24),
                      0 6px 30px 5px rgba(13, 71, 161, 0.14),
                      0 8px 10px -5px rgba(13, 71, 161, 0.4);
        };
      }
      .selected {
        background-color: var(--paper-blue-grey-200);
      }
      .affordable {
        background-color: var(--paper-blue-200);
      }
      .points {
        font-style: italic;
        font-weight: bold;
      }
      .diamond {
        background-color: #ffffff;
        color: #000000;
      }
      .sapphire {
        background-color: #1A90FF;
        color: #ffffff;
      }
      .emerald {
        background-color: #00A030;
        color: #ffffff;
      }
      .ruby {
        background-color: #BD040F;
        color: #ffffff;
      }
      .onyx {
        background-color: #0B030C;
        color: #ffffff;
      }
      .gold {
        background-color: #FFC300;
        color: #ffffff;
      }
    </style>

  </template>
</dom-module>