<link
    rel="import"
    href="/bower_components/polymer/polymer.html">
<link
    rel="import"
    href="/bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link
    rel="import"
    href="/bower_components/iron-icons/iron-icons.html">
<link
    rel="import"
    href="/bower_components/paper-header-panel/paper-header-panel.html">
<link
    rel="import"
    href="/bower_components/paper-toolbar/paper-toolbar.html">
<link
    rel="import"
    href="/bower_components/paper-icon-button/paper-icon-button.html">
<link
    rel="import"
    href="/bower_components/paper-checkbox/paper-checkbox.html">
<link
    rel="import"
    href="/bower_components/paper-button/paper-button.html">
<link
    rel="import"
    href="/bower_components/paper-material/paper-material.html">
<link
    rel="import"
    href="/behaviors/splendor-base-behavior.html">
<link 
    rel="import"
    href="/components/shared-styles/shared-styles.html">
<link
    rel="import"
    href="/components/splendor-noble/splendor-noble.html">
<link
    rel="import"
    href="/components/splendor-card/splendor-card.html">
<link
    rel="import"
    href="/components/splendor-deck/splendor-deck.html">
<link
    rel="import"
    href="/components/splendor-chip/splendor-chip.html">

<dom-module id="splendor-main">

  <template>

    <style include="iron-flex iron-flex-alignment"></style>
    <style include="shared-styles"></style>
    <style>
      .title {
        pointer-events: initial !important;
      }
      .title a {
        color: white;
        text-decoration: none;
        padding: 4px;
      }
      .title a:hover {
        text-decoration: underline;
      }
      .nobles {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .levels {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .level {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .chips {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
      }
      .tableau {
        min-height: 50px;
        justify-content: center;
      }
      .reserved {
        min-height: 50px;
        justify-content: center;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      splendor-chip {
        --splendor-chip-size: 60px;
      }
      .opponent splendor-chip {
        --splendor-chip-size: 40px;
      }
      paper-checkbox {
        margin-right: 10px;
      }
      paper-button {
        background-color: var(--paper-indigo-500);
        color: white;
      }
    </style>

    <paper-header-panel class="flex" mode="standard">
      <paper-toolbar>
        <paper-icon-button icon="menu"></paper-icon-button>
        <span class="title">
          <a href="/">Splendor</a>
        </span>
      </paper-toolbar>
    </paper-header-panel>

    <div class="nobles">
      <template
          is="dom-repeat"
          items="[[game.nobles]]" as="noble">
        <splendor-noble noble="[[noble]]"></splendor-noble>
      </template>
    </div>

    <div class="chips">
      <template
          is="dom-repeat"
          items="[[pairs(game.chips, game.chips.*)]]"
          as="chip">
        <splendor-chip
            gem="[[chip.key]]"
            count="[[chip.value]]"
            selectable></splendor-chip>
      </template>
    </div>

    <div class="levels">
      <template
          is="dom-repeat"
          items="[[game.levels]]"
          sort="descending"
          as="level">
        <div class="level">
          <splendor-deck deck="[[level.draw]]"></splendor-deck>
          <template
              is="dom-repeat"
              items="[[level.cards]]"
              as="card">
            <splendor-card
                card="[[card]]"
                selectable>
            </splendor-card>
          </template>
        </div>
      </template>
    </div>

    <div class="chips">
      <template
          is="dom-repeat"
          items="[[pairs(game.player.chips, game.player.chips.*)]]"
          as="chip">
        <splendor-chip
            gem="[[chip.key]]"
            count="[[chip.value]]"></splendor-chip>
      </template>
      <div class="buttons">
        <paper-checkbox checked="{{reserve}}">Reserve</paper-checkbox>
        <paper-button
            on-tap="done"
            raised>
          Done
        </paper-button>
      </div>
    </div>

    <div class="player">

      <paper-material class="tableau">
        <h4>Purchased</h4>
        <template
            is="dom-repeat"
            items="[[game.player.tableau]]"
            as="card">
          <splendor-card
              card="[[card]]">
          </splendor-card>
        </template>
      </paper-material>

      <paper-material class="reserved">
        <h4>Reserved</h4>
        <template
            is="dom-repeat"
            items="[[game.player.reserved]]"
            as="card">
          <splendor-card
              card="[[card]]"
              selectable>
          </splendor-card>
        </template>
      </paper-material>

    </div>

    <div class="opponent layout vertical">
      <template is="dom-repeat" items="[[game.opponents]]" as="player">
        <paper-material class="layout vertical">
          <h4>[[player.name]]</h4>
          <div class="layout horizontal">
            <template
                is="dom-repeat"
                items="[[pairs(player.chips, player.chips.*)]]"
                as="chip">
              <splendor-chip
                  gem="[[chip.key]]"
                  count="[[chip.value]]"></splendor-chip>
            </template>
          </div>
        </paper-material>
      </template>
    </div>

  </template>

  <script src="/lib/splendor-cards.js"></script>
  <script src="/lib/splendor.js"></script>
  <script src="/lib/splendor-ai.js"></script>
  <script>
    function observe(target, listener, path) {
      Object.getOwnPropertyNames(target).forEach(function(prop) {
        var tmp = target[prop];
        if (typeof tmp == 'object') {
          target[prop] = new Proxy(
            target[prop],
            observer(listener, path + '.' + prop));
          observe(tmp, listener, path + '.' + prop);
        }
      });
      return target;
    }
    var captured = null;
    var observer = function(listener, path) {
      return {
        set: function(target, prop, value, receiver) {
          Reflect.set(target, prop, value);
          listener.notifyPath(path + '.' + prop, value);
          return true;
        },
        get: function(target, prop, receiver) {
          if (prop == 'push') {
            return function(item) {
              target.push(item);
              listener.notifySplices(path, [
                {
                  index: (target.length-1),
                  removed: [],
                  addedCount: 1,
                  object: target,
                  type: 'splice'
                }
              ]);
            }
          } else if (prop == 'pop') {
            console.error('unhandled polymer array mutation');
          } else if (prop == 'splice') {
            return function(start, deleteCount) {
              var removed = target.splice.apply(target, arguments);
              listener.notifySplices(path, [
                {
                  index: start,
                  removed: removed,
                  addedCount: arguments.length-2,
                  object: target,
                  type: 'splice'
                }
              ]);
            }
          } else if (prop == 'shift') {
            return function() {
              var item = target.shift();
              listener.notifySplices(path, [
                {
                  index: 0,
                  removed: [item],
                  addedCount: 0,
                  object: target,
                  type: 'splice'
                }
              ]);
              return item;
            }
          } else if (prop == 'unshift') {
              console.error('unhandled polymer array mutation');
          }
          return Reflect.get(target, prop, receiver);
        }
      };
    };
    Polymer({
      is: 'splendor-main',
      behaviors: [SplendorBaseBehavior],
      properties: {
        game: {
          type: Object,
          value: function() {
            Splendor.game = Splendor.game || observe(
              new Splendor.Game(2),
              this,
              'game');
            return Splendor.game;
          }
        },
        reserve: {
          type: Boolean,
          observer: '_reserveChanged'
        }
      },
      descending: function(a, b) {
        if (a.level > b.level) {
          return -1;
        }
        return 1;
      },
      _reserveChanged: function() {
        Splendor.send({
          type: 'reserveMode',
          data: this.reserve
        });
      },
      done: function() {
        if (selected.length == 1 &&
            (selected[0].tagName == 'SPLENDOR-CARD' ||
             selected[0].tagName == 'SPLENDOR-DECK')) {
          if (selected[0].tagName == 'SPLENDOR-CARD') {
            var selection = selected[0];
            var card = selection.card;
            if (this.reserve) {
              // reserve card
              this.game.reserve(this.game.player, card);
            } else {
              // purchase card
              this.game.purchase(this.game.player, card);
            }
          } else if (selected[0].tagName == 'SPLENDOR-DECK') {
            // reserve a card at random
            var level = this.game.levels.filter(function(level) {
              return level.draw === selected[0].deck;
            })[0];
            this.game.reserveRandom(this.game.player, level);
          }
        } else {
          // take chips
          var gems = [];
          for (var element of selected.values()) {
            gems.push(element.gem);
          }
          this.game.take(this.game.player, gems);
        }
        // clear selection
        selected.forEach(function(element) {
          element.set('selected', false);
        });
        selected = [];
        // clear reserve bit
        this.set('reserve', false);
        Splendor.send();
      }
    });
  </script>

</dom-module>
